In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
now = datetime.now()
now

datetime.datetime(2019, 8, 25, 10, 56, 9, 206085)

In [3]:
now.year, now.month, now.day

(2019, 8, 25)

datetime以毫秒形式存储日期和时间。timedelta表示两个datetime对象之间的时间差：

In [4]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(926, 56700)

In [7]:
delta.days,delta.seconds

(926, 56700)

可以给datetime对象加上（或减去）一个或多个timedelta，这样会产生一个新对象：

In [8]:
from datetime import timedelta

In [9]:
start = datetime(2011, 1, 7)
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [10]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [11]:
stamp = datetime(2011, 1, 3)
str(stamp)

'2011-01-03 00:00:00'

In [12]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

datetime.strptime可以用这些格式化编码将字符串转换为日期：

In [13]:
value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [14]:
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [15]:
from dateutil.parser import parse
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [16]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [17]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [18]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [19]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [20]:
idx[2]

NaT

In [21]:
pd.isnull(idx)

array([False, False,  True])

## 11.2 时间序列基础
pandas最基本的时间序列类型就是以时间戳（通常以Python字符串或datatime对象表示）为索引的Series：

In [22]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),datetime(2011, 1, 7), datetime(2011, 1, 8),datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [23]:
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02   -0.065775
2011-01-05    0.880655
2011-01-07   -0.494145
2011-01-08   -1.083913
2011-01-10   -2.412249
2011-01-12    0.970572
dtype: float64

In [24]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [25]:
ts + ts[::2]

2011-01-02   -0.131550
2011-01-05         NaN
2011-01-07   -0.988290
2011-01-08         NaN
2011-01-10   -4.824497
2011-01-12         NaN
dtype: float64

In [26]:
ts.index.dtype

dtype('<M8[ns]')

In [27]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

In [28]:
stamp = ts.index[2]
ts[stamp]

-0.494145035011368

In [29]:
ts['1/10/2011']

-2.4122485059122694

In [30]:
ts['20110110']

-2.4122485059122694

对于较长的时间序列，只需传入“年”或“年月”即可轻松选取数据的切片：

In [31]:
longer_ts = pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2000', periods=1000))

In [32]:
longer_ts

2000-01-01   -1.175410
2000-01-02    0.107498
2000-01-03   -0.056217
2000-01-04    1.049350
2000-01-05   -0.641140
2000-01-06    0.984050
2000-01-07   -0.594788
2000-01-08    0.371557
2000-01-09    1.459686
2000-01-10    0.075997
2000-01-11   -1.009301
2000-01-12   -0.266263
2000-01-13   -0.070638
2000-01-14   -2.342831
2000-01-15    0.643278
2000-01-16    1.470292
2000-01-17    0.173813
2000-01-18    0.282631
2000-01-19   -0.073560
2000-01-20   -0.738780
2000-01-21   -1.044493
2000-01-22   -0.202911
2000-01-23    0.787578
2000-01-24   -0.872214
2000-01-25    2.790477
2000-01-26    1.145281
2000-01-27   -0.959539
2000-01-28    1.161465
2000-01-29   -1.253655
2000-01-30   -0.302661
                ...
2002-08-28   -0.951809
2002-08-29    0.207069
2002-08-30   -0.408289
2002-08-31    1.684510
2002-09-01    0.038255
2002-09-02    0.396631
2002-09-03   -0.349072
2002-09-04   -1.324140
2002-09-05   -0.576542
2002-09-06    0.480534
2002-09-07    0.569216
2002-09-08   -0.741046
2002-09-09   -2.551458
2002-09-10   -0.954764
2002-09-11   -0.032391
2002-09-12   -0.111910
2002-09-13   -1.505227
2002-09-14   -1.081350
2002-09-15    0.119756
2002-09-16    0.301011
2002-09-17    0.437861
2002-09-18   -1.171104
2002-09-19   -0.197270
2002-09-20    0.061878
2002-09-21    1.936811
2002-09-22   -0.951891
2002-09-23    1.601145
2002-09-24   -1.099485
2002-09-25    0.227190
2002-09-26   -0.771766
Freq: D, Length: 1000, dtype: float64

In [33]:
longer_ts['2001']

2001-01-01    0.386100
2001-01-02   -1.256483
2001-01-03   -1.151798
2001-01-04   -1.102320
2001-01-05   -1.571154
2001-01-06   -0.235055
2001-01-07   -1.338607
2001-01-08    0.703631
2001-01-09   -0.011723
2001-01-10    1.187960
2001-01-11   -0.085137
2001-01-12    0.469289
2001-01-13   -0.064638
2001-01-14   -0.699458
2001-01-15    0.120577
2001-01-16   -0.161147
2001-01-17   -0.062962
2001-01-18    0.073752
2001-01-19   -1.258811
2001-01-20    0.022549
2001-01-21    0.354535
2001-01-22   -0.640647
2001-01-23    2.095185
2001-01-24    0.336267
2001-01-25    0.361499
2001-01-26   -1.601986
2001-01-27   -0.018712
2001-01-28    0.665339
2001-01-29    0.383885
2001-01-30   -0.180830
                ...
2001-12-02    1.721967
2001-12-03    0.611200
2001-12-04   -0.491592
2001-12-05   -0.094857
2001-12-06    0.596071
2001-12-07    0.887196
2001-12-08    0.093593
2001-12-09    1.592143
2001-12-10   -0.946413
2001-12-11    2.061003
2001-12-12    0.259737
2001-12-13   -0.324147
2001-12-14    0.982271
2001-12-15    0.510523
2001-12-16   -1.101570
2001-12-17    1.317439
2001-12-18   -0.370620
2001-12-19   -0.178909
2001-12-20    0.396280
2001-12-21   -1.660235
2001-12-22    0.047011
2001-12-23   -1.525619
2001-12-24   -0.146700
2001-12-25    0.561440
2001-12-26   -0.539046
2001-12-27   -0.117605
2001-12-28    1.720440
2001-12-29    0.846970
2001-12-30   -0.461211
2001-12-31   -0.319472
Freq: D, Length: 365, dtype: float64

这里，字符串“2001”被解释成年，并根据它选取时间区间。指定月也同样奏效：

In [34]:
longer_ts['2001-05']

2001-05-01    0.713842
2001-05-02    0.087937
2001-05-03   -1.894818
2001-05-04   -2.479896
2001-05-05    0.082498
2001-05-06    2.563619
2001-05-07    0.423327
2001-05-08   -0.295976
2001-05-09    0.162245
2001-05-10    0.094732
2001-05-11    1.828978
2001-05-12   -0.455708
2001-05-13   -0.263224
2001-05-14   -0.336938
2001-05-15    0.073426
2001-05-16    0.106771
2001-05-17   -1.649495
2001-05-18   -0.067436
2001-05-19   -0.177376
2001-05-20    0.164511
2001-05-21    0.442455
2001-05-22   -1.105382
2001-05-23   -0.115390
2001-05-24   -1.925139
2001-05-25   -0.055017
2001-05-26   -1.120542
2001-05-27   -1.720239
2001-05-28    0.157021
2001-05-29    1.006892
2001-05-30   -0.196111
2001-05-31   -0.508350
Freq: D, dtype: float64

datetime对象也可以进行切片：

In [35]:
ts[datetime(2011, 1, 7):]

2011-01-07   -0.494145
2011-01-08   -1.083913
2011-01-10   -2.412249
2011-01-12    0.970572
dtype: float64

由于大部分时间序列数据都是按照时间先后排序的，因此你也可以用不存在于该时间序列中的时间戳对其进行切片（即范围查询）：

In [36]:
ts

2011-01-02   -0.065775
2011-01-05    0.880655
2011-01-07   -0.494145
2011-01-08   -1.083913
2011-01-10   -2.412249
2011-01-12    0.970572
dtype: float64

In [37]:
ts['1/6/2011':'1/11/2011']

2011-01-07   -0.494145
2011-01-08   -1.083913
2011-01-10   -2.412249
dtype: float64

跟之前一样，你可以传入字符串日期、datetime或Timestamp。注意，这样切片所产生的是原时间序列的视图，跟NumPy数组的切片运算是一样的。
这意味着，没有数据被复制，对切片进行修改会反映到原始数据上。
此外，还有一个等价的实例方法也可以截取两个日期之间TimeSeries：

In [38]:
ts.truncate(after='1/9/2011')

2011-01-02   -0.065775
2011-01-05    0.880655
2011-01-07   -0.494145
2011-01-08   -1.083913
dtype: float64

这些操作对DataFrame也有效。例如，对DataFrame的行进行索引：

In [39]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

In [40]:
long_df = pd.DataFrame(np.random.randn(100, 4),index=dates,columns=['Colorado', 'Texas','New York', 'Ohio'])
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -0.954812  0.505178  0.956729  1.797910
2001-05-09 -0.405709 -1.128872 -0.668041 -0.097023
2001-05-16  0.028847 -1.001089  0.636835 -0.664264
2001-05-23 -0.550414 -0.303747 -1.343149 -0.973219
2001-05-30 -1.320463  0.124751 -1.148915 -0.671734

In [41]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

通过检查索引的is_unique属性，我们就可以知道它是不是唯一的：

In [42]:
dup_ts.index.is_unique

False

对这个时间序列进行索引，要么产生标量值，要么产生切片，具体要看所选的时间点是否重复：

In [43]:
dup_ts['1/3/2000']

4

In [44]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

假设你想要对具有非唯一时间戳的数据进行聚合。一个办法是使用groupby，并传入level=0：

In [45]:
grouped = dup_ts.groupby(level=0)
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

In [46]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [47]:
ts

2011-01-02   -0.065775
2011-01-05    0.880655
2011-01-07   -0.494145
2011-01-08   -1.083913
2011-01-10   -2.412249
2011-01-12    0.970572
dtype: float64

In [48]:
index = pd.date_range('2012-04-01', '2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [49]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [50]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [51]:
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [52]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [53]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [54]:
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
hour

In [55]:
four_hours = Hour(4)
four_hours

In [56]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [57]:
Hour(2) + Minute(30)

In [58]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [59]:
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

In [60]:
ts = pd.Series(np.random.randn(4),index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts

2000-01-31   -2.168316
2000-02-29    2.278426
2000-03-31    0.916601
2000-04-30   -0.127666
Freq: M, dtype: float64

In [61]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -2.168316
2000-04-30    2.278426
Freq: M, dtype: float64

In [62]:
ts.shift(-2)

2000-01-31    0.916601
2000-02-29   -0.127666
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [63]:
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29   -2.050781
2000-03-31   -0.597704
2000-04-30   -1.139283
Freq: M, dtype: float64

In [64]:
ts.shift(2, freq='M')

2000-03-31   -2.168316
2000-04-30    2.278426
2000-05-31    0.916601
2000-06-30   -0.127666
Freq: M, dtype: float64

In [65]:
ts.shift(3, freq='D')

2000-02-03   -2.168316
2000-03-03    2.278426
2000-04-03    0.916601
2000-05-03   -0.127666
dtype: float64

In [66]:
from pandas.tseries.offsets import Day, MonthEnd
now = datetime(2011, 11, 17)

In [67]:
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [68]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [69]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [70]:
offset = MonthEnd()
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [71]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [72]:
ts = pd.Series(np.random.randn(20),index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts

2000-01-15   -1.969161
2000-01-19   -0.977954
2000-01-23    2.208522
2000-01-27   -0.083013
2000-01-31   -0.199122
2000-02-04    1.335505
2000-02-08   -0.024593
2000-02-12   -0.277222
2000-02-16    1.030661
2000-02-20   -1.270540
2000-02-24   -1.162085
2000-02-28    0.236648
2000-03-03    2.844729
2000-03-07   -0.838091
2000-03-11    0.331623
2000-03-15    1.602382
2000-03-19   -0.659037
2000-03-23   -0.319555
2000-03-27   -0.504607
2000-03-31   -0.091587
Freq: 4D, dtype: float64

In [73]:
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.204146
2000-02-29   -0.018804
2000-03-31    0.295732
dtype: float64

In [74]:
ts.resample('M').mean()

2000-01-31   -0.204146
2000-02-29   -0.018804
2000-03-31    0.295732
Freq: M, dtype: float64

In [75]:
import pytz

In [76]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

要从pytz中获取时区对象，使用pytz.timezone即可：

In [77]:
tz = pytz.timezone('America/New_York')
tz

In [78]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2012-03-09 09:30:00   -0.218789
2012-03-10 09:30:00   -0.262105
2012-03-11 09:30:00    0.856608
2012-03-12 09:30:00    0.681644
2012-03-13 09:30:00   -0.528107
2012-03-14 09:30:00    0.555219
Freq: D, dtype: float64

其索引的tz字段为None：

In [79]:
print(ts.index.tz)

None

可以用时区集生成日期范围：

In [80]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

从单纯到本地化的转换是通过tz_localize方法处理的：

In [81]:
ts

2012-03-09 09:30:00   -0.218789
2012-03-10 09:30:00   -0.262105
2012-03-11 09:30:00    0.856608
2012-03-12 09:30:00    0.681644
2012-03-13 09:30:00   -0.528107
2012-03-14 09:30:00    0.555219
Freq: D, dtype: float64

In [82]:
ts_utc = ts.tz_localize('UTC')

In [83]:
ts_utc

2012-03-09 09:30:00+00:00   -0.218789
2012-03-10 09:30:00+00:00   -0.262105
2012-03-11 09:30:00+00:00    0.856608
2012-03-12 09:30:00+00:00    0.681644
2012-03-13 09:30:00+00:00   -0.528107
2012-03-14 09:30:00+00:00    0.555219
Freq: D, dtype: float64

In [84]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [85]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00   -0.218789
2012-03-10 04:30:00-05:00   -0.262105
2012-03-11 05:30:00-04:00    0.856608
2012-03-12 05:30:00-04:00    0.681644
2012-03-13 05:30:00-04:00   -0.528107
2012-03-14 05:30:00-04:00    0.555219
Freq: D, dtype: float64

In [86]:
ts_eastern = ts.tz_localize('America/New_York')

In [87]:
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00   -0.218789
2012-03-10 14:30:00+00:00   -0.262105
2012-03-11 13:30:00+00:00    0.856608
2012-03-12 13:30:00+00:00    0.681644
2012-03-13 13:30:00+00:00   -0.528107
2012-03-14 13:30:00+00:00    0.555219
Freq: D, dtype: float64

In [88]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00   -0.218789
2012-03-10 15:30:00+01:00   -0.262105
2012-03-11 14:30:00+01:00    0.856608
2012-03-12 14:30:00+01:00    0.681644
2012-03-13 14:30:00+01:00   -0.528107
2012-03-14 14:30:00+01:00    0.555219
Freq: D, dtype: float64

tz_localize和tz_convert也是DatetimeIndex的实例方法：

In [89]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

In [90]:
stamp = pd.Timestamp('2011-03-12 04:00')
stamp_utc = stamp.tz_localize('utc')

In [91]:
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [92]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

时区意识型Timestamp对象在内部保存了一个UTC时间戳值（自UNIX纪元（1970年1月1日）算起的纳秒数）。这个UTC值在时区转换过程中是不会发生变化的：

In [93]:
stamp_utc.value

1299902400000000000

In [94]:
stamp_utc.tz_convert('America/New_York').value

1299902400000000000

In [95]:
from pandas.tseries.offsets import Hour

In [96]:
stamp = pd.Timestamp('2012-03-12 01:30', tz='US/Eastern')
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [97]:
stamp + Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [98]:
stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [99]:
stamp + 2 * Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

In [100]:
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [101]:
ts

2012-03-07 09:30:00   -0.267907
2012-03-08 09:30:00    0.597052
2012-03-09 09:30:00   -0.828884
2012-03-12 09:30:00    0.511672
2012-03-13 09:30:00   -0.129179
2012-03-14 09:30:00   -2.688749
2012-03-15 09:30:00    0.123445
2012-03-16 09:30:00    0.294407
2012-03-19 09:30:00    1.663521
2012-03-20 09:30:00   -0.366701
Freq: B, dtype: float64

In [102]:
ts1 = ts[:7].tz_localize('Europe/London')
ts2 = ts1[2:].tz_convert('Europe/Moscow')
result = ts1 + ts2

In [103]:
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

In [104]:
p = pd.Period(2007, freq='A-DEC')
p

Period('2007', 'A-DEC')

这里，这个Period对象表示的是从2007年1月1日到2007年12月31日之间的整段时间。只需对Period对象加上或减去一个整数即可达到根据其频率进行位移的效果：

In [105]:
p + 5

Period('2012', 'A-DEC')

In [106]:
p - 2

Period('2005', 'A-DEC')

如果两个Period对象拥有相同的频率，则它们的差就是它们之间的单位数量：

In [107]:
pd.Period('2014', freq='A-DEC') - p

7

In [108]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq='M')
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [109]:
pd.Series(np.random.randn(6), index=rng)

2000-01   -0.295843
2000-02   -1.094867
2000-03    0.958275
2000-04    0.889309
2000-05    1.167376
2000-06   -0.465148
Freq: M, dtype: float64

如果你有一个字符串数组，你也可以使用PeriodIndex类：

In [110]:
values = ['2001Q3', '2002Q2', '2003Q1']
index = pd.PeriodIndex(values, freq='Q-DEC')
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

In [111]:
p = pd.Period('2007', freq='A-DEC')
p

Period('2007', 'A-DEC')

In [112]:
p.asfreq('M', how='start')

Period('2007-01', 'M')

In [113]:
p.asfreq('M', how='end')

Period('2007-12', 'M')

In [114]:
p = pd.Period('2007', freq='A-JUN')
p

Period('2007', 'A-JUN')

在将高频率转换为低频率时，超时期（superperiod）是由子时期（subperiod）所属的位置决定的。例如，在A-JUN频率中，月份“2007年8月”实际上是属于周期“2008年”的：

In [115]:
p = pd.Period('Aug-2007', 'M')
p.asfreq('A-JUN')

Period('2008', 'A-JUN')

In [116]:
rng = pd.date_range('2000-01-01', periods=3, freq='M')
ts = pd.Series(np.random.randn(3), index=rng)
ts

2000-01-31    0.477286
2000-02-29   -2.196680
2000-03-31    0.629786
Freq: M, dtype: float64

由于时期指的是非重叠时间区间，因此对于给定的频率，一个时间戳只能属于一个时期。新PeriodIndex的频率默认是从时间戳推断而来的，你也可以指定任何别的频率。结果中允许存在重复时期：

In [117]:
rng = pd.date_range('1/29/2000', periods=6, freq='D')
ts2 = pd.Series(np.random.randn(6), index=rng)
ts2

2000-01-29    0.719144
2000-01-30    0.045010
2000-01-31    1.598252
2000-02-01    0.119688
2000-02-02   -1.430084
2000-02-03    0.088552
Freq: D, dtype: float64

In [118]:
ts2.to_period('M')

2000-01    0.719144
2000-01    0.045010
2000-01    1.598252
2000-02    0.119688
2000-02   -1.430084
2000-02    0.088552
Freq: M, dtype: float64

In [119]:
ts.resample('M').mean()

2000-01-31    0.477286
2000-02-29   -2.196680
2000-03-31    0.629786
Freq: M, dtype: float64

In [120]:
ts.resample('M', kind='period').mean()

2000-01    0.477286
2000-02   -2.196680
2000-03    0.629786
Freq: M, dtype: float64

resample是一个灵活高效的方法，可用于处理非常大的时间序列。我将通过一系列的示例说明其用法。表11-5总结它的一些选项。
![](https://upload-images.jianshu.io/upload_images/7178691-b40a57086c904e83.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/757/format/webp)

In [122]:
ts.resample('5min', closed='right').sum()

2000-01-30 23:55:00    0.477286
2000-01-31 00:00:00    0.000000
2000-01-31 00:05:00    0.000000
2000-01-31 00:10:00    0.000000
2000-01-31 00:15:00    0.000000
2000-01-31 00:20:00    0.000000
2000-01-31 00:25:00    0.000000
2000-01-31 00:30:00    0.000000
2000-01-31 00:35:00    0.000000
2000-01-31 00:40:00    0.000000
2000-01-31 00:45:00    0.000000
2000-01-31 00:50:00    0.000000
2000-01-31 00:55:00    0.000000
2000-01-31 01:00:00    0.000000
2000-01-31 01:05:00    0.000000
2000-01-31 01:10:00    0.000000
2000-01-31 01:15:00    0.000000
2000-01-31 01:20:00    0.000000
2000-01-31 01:25:00    0.000000
2000-01-31 01:30:00    0.000000
2000-01-31 01:35:00    0.000000
2000-01-31 01:40:00    0.000000
2000-01-31 01:45:00    0.000000
2000-01-31 01:50:00    0.000000
2000-01-31 01:55:00    0.000000
2000-01-31 02:00:00    0.000000
2000-01-31 02:05:00    0.000000
2000-01-31 02:10:00    0.000000
2000-01-31 02:15:00    0.000000
2000-01-31 02:20:00    0.000000
                         ...
2000-03-30 21:30:00    0.000000
2000-03-30 21:35:00    0.000000
2000-03-30 21:40:00    0.000000
2000-03-30 21:45:00    0.000000
2000-03-30 21:50:00    0.000000
2000-03-30 21:55:00    0.000000
2000-03-30 22:00:00    0.000000
2000-03-30 22:05:00    0.000000
2000-03-30 22:10:00    0.000000
2000-03-30 22:15:00    0.000000
2000-03-30 22:20:00    0.000000
2000-03-30 22:25:00    0.000000
2000-03-30 22:30:00    0.000000
2000-03-30 22:35:00    0.000000
2000-03-30 22:40:00    0.000000
2000-03-30 22:45:00    0.000000
2000-03-30 22:50:00    0.000000
2000-03-30 22:55:00    0.000000
2000-03-30 23:00:00    0.000000
2000-03-30 23:05:00    0.000000
2000-03-30 23:10:00    0.000000
2000-03-30 23:15:00    0.000000
2000-03-30 23:20:00    0.000000
2000-03-30 23:25:00    0.000000
2000-03-30 23:30:00    0.000000
2000-03-30 23:35:00    0.000000
2000-03-30 23:40:00    0.000000
2000-03-30 23:45:00    0.000000
2000-03-30 23:50:00    0.000000
2000-03-30 23:55:00    0.629786
Freq: 5T, Length: 17281, dtype: float64

传入的频率将会以“5分钟”的增量定义面元边界。默认情况下，面元的右边界是包含的，因此00:00到00:05的区间中是包含00:05的。传入closed='left'会让区间以左边界闭合：

In [123]:
ts.resample('5min', closed='right').sum()

2000-01-30 23:55:00    0.477286
2000-01-31 00:00:00    0.000000
2000-01-31 00:05:00    0.000000
2000-01-31 00:10:00    0.000000
2000-01-31 00:15:00    0.000000
2000-01-31 00:20:00    0.000000
2000-01-31 00:25:00    0.000000
2000-01-31 00:30:00    0.000000
2000-01-31 00:35:00    0.000000
2000-01-31 00:40:00    0.000000
2000-01-31 00:45:00    0.000000
2000-01-31 00:50:00    0.000000
2000-01-31 00:55:00    0.000000
2000-01-31 01:00:00    0.000000
2000-01-31 01:05:00    0.000000
2000-01-31 01:10:00    0.000000
2000-01-31 01:15:00    0.000000
2000-01-31 01:20:00    0.000000
2000-01-31 01:25:00    0.000000
2000-01-31 01:30:00    0.000000
2000-01-31 01:35:00    0.000000
2000-01-31 01:40:00    0.000000
2000-01-31 01:45:00    0.000000
2000-01-31 01:50:00    0.000000
2000-01-31 01:55:00    0.000000
2000-01-31 02:00:00    0.000000
2000-01-31 02:05:00    0.000000
2000-01-31 02:10:00    0.000000
2000-01-31 02:15:00    0.000000
2000-01-31 02:20:00    0.000000
                         ...
2000-03-30 21:30:00    0.000000
2000-03-30 21:35:00    0.000000
2000-03-30 21:40:00    0.000000
2000-03-30 21:45:00    0.000000
2000-03-30 21:50:00    0.000000
2000-03-30 21:55:00    0.000000
2000-03-30 22:00:00    0.000000
2000-03-30 22:05:00    0.000000
2000-03-30 22:10:00    0.000000
2000-03-30 22:15:00    0.000000
2000-03-30 22:20:00    0.000000
2000-03-30 22:25:00    0.000000
2000-03-30 22:30:00    0.000000
2000-03-30 22:35:00    0.000000
2000-03-30 22:40:00    0.000000
2000-03-30 22:45:00    0.000000
2000-03-30 22:50:00    0.000000
2000-03-30 22:55:00    0.000000
2000-03-30 23:00:00    0.000000
2000-03-30 23:05:00    0.000000
2000-03-30 23:10:00    0.000000
2000-03-30 23:15:00    0.000000
2000-03-30 23:20:00    0.000000
2000-03-30 23:25:00    0.000000
2000-03-30 23:30:00    0.000000
2000-03-30 23:35:00    0.000000
2000-03-30 23:40:00    0.000000
2000-03-30 23:45:00    0.000000
2000-03-30 23:50:00    0.000000
2000-03-30 23:55:00    0.629786
Freq: 5T, Length: 17281, dtype: float64

如你所见，最终的时间序列是以各面元右边界的时间戳进行标记的。传入label='right'即可用面元的邮编界对其进行标记：

In [125]:
ts.resample('5min', closed='right', label='right').sum()

2000-01-31 00:00:00    0.477286
2000-01-31 00:05:00    0.000000
2000-01-31 00:10:00    0.000000
2000-01-31 00:15:00    0.000000
2000-01-31 00:20:00    0.000000
2000-01-31 00:25:00    0.000000
2000-01-31 00:30:00    0.000000
2000-01-31 00:35:00    0.000000
2000-01-31 00:40:00    0.000000
2000-01-31 00:45:00    0.000000
2000-01-31 00:50:00    0.000000
2000-01-31 00:55:00    0.000000
2000-01-31 01:00:00    0.000000
2000-01-31 01:05:00    0.000000
2000-01-31 01:10:00    0.000000
2000-01-31 01:15:00    0.000000
2000-01-31 01:20:00    0.000000
2000-01-31 01:25:00    0.000000
2000-01-31 01:30:00    0.000000
2000-01-31 01:35:00    0.000000
2000-01-31 01:40:00    0.000000
2000-01-31 01:45:00    0.000000
2000-01-31 01:50:00    0.000000
2000-01-31 01:55:00    0.000000
2000-01-31 02:00:00    0.000000
2000-01-31 02:05:00    0.000000
2000-01-31 02:10:00    0.000000
2000-01-31 02:15:00    0.000000
2000-01-31 02:20:00    0.000000
2000-01-31 02:25:00    0.000000
                         ...
2000-03-30 21:35:00    0.000000
2000-03-30 21:40:00    0.000000
2000-03-30 21:45:00    0.000000
2000-03-30 21:50:00    0.000000
2000-03-30 21:55:00    0.000000
2000-03-30 22:00:00    0.000000
2000-03-30 22:05:00    0.000000
2000-03-30 22:10:00    0.000000
2000-03-30 22:15:00    0.000000
2000-03-30 22:20:00    0.000000
2000-03-30 22:25:00    0.000000
2000-03-30 22:30:00    0.000000
2000-03-30 22:35:00    0.000000
2000-03-30 22:40:00    0.000000
2000-03-30 22:45:00    0.000000
2000-03-30 22:50:00    0.000000
2000-03-30 22:55:00    0.000000
2000-03-30 23:00:00    0.000000
2000-03-30 23:05:00    0.000000
2000-03-30 23:10:00    0.000000
2000-03-30 23:15:00    0.000000
2000-03-30 23:20:00    0.000000
2000-03-30 23:25:00    0.000000
2000-03-30 23:30:00    0.000000
2000-03-30 23:35:00    0.000000
2000-03-30 23:40:00    0.000000
2000-03-30 23:45:00    0.000000
2000-03-30 23:50:00    0.000000
2000-03-30 23:55:00    0.000000
2000-03-31 00:00:00    0.629786
Freq: 5T, Length: 17281, dtype: float64